Dalam latihan ini kita akan melihat perbedaan fungsi dan operasi antara RDD dan DataFrame, yaitu filtering dan agregasi.

Instal pyspark

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=76bec352814161fc2f37e25801e46bc1004bcb4070b1da8446ed95cfe0347d23
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

Import package yang dibutuhkan

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

Create spark session

In [ ]:
spark = SparkSession.builder.appName('DataFrame Basics').getOrCreate()

## Create

### Create RDD

Create spark RDD dengan menggunakan fungsi `sparkContext.parallelize()`

In [ ]:
# Create an RDD of tuples (province, population, district)
dataRDD = spark.sparkContext.parallelize([("Banten",1222258,"Lebak"),
("Banten",1175148,"Pandeglang"),
("Banten",1435003,"Serang"),
("Banten",2619803,"Tangerang"),
("DKI Jakarta",23340,"Kepulauan Seribu"),
("DKI Jakarta",2185711,"Jakarta Selatan"),
("DKI Jakarta",2843816,"Jakarta Timur"),
("DKI Jakarta",914182,"Jakarta Pusat"),
("DKI Jakarta",2463560,"Jakarta Barat"),
("DKI Jakarta",1747315,"Jakarta Utara")])

Tampilkan hasilnya dengan perintah `collect`

**Perhatikan** bahwa ketika kita memanggil perintah `collect()` terhadap sebuah RDD ataupun Dataset, **seluruh data dalam RDD tersebut akan dikirim ke node di mana driver berada**. Oleh karena itu perlu dipertimbangkan ukuran data sebelum memanggil fungsi `collect`.

In [ ]:
dataRDD.collect()

[('Banten', 1222258, 'Lebak'),
 ('Banten', 1175148, 'Pandeglang'),
 ('Banten', 1435003, 'Serang'),
 ('Banten', 2619803, 'Tangerang'),
 ('DKI Jakarta', 23340, 'Kepulauan Seribu'),
 ('DKI Jakarta', 2185711, 'Jakarta Selatan'),
 ('DKI Jakarta', 2843816, 'Jakarta Timur'),
 ('DKI Jakarta', 914182, 'Jakarta Pusat'),
 ('DKI Jakarta', 2463560, 'Jakarta Barat'),
 ('DKI Jakarta', 1747315, 'Jakarta Utara')]

### Create DataFrame
Create DataFrame dengan menggunakan fungsi `createDataFrame()`

In [ ]:
dataDF = spark.createDataFrame([("Banten",1222258,"Lebak"),
("Banten",1175148,"Pandeglang"),
("Banten",1435003,"Serang"),
("Banten",2619803,"Tangerang"),
("DKI Jakarta",23340,"Kepulauan Seribu"),
("DKI Jakarta",2185711,"Jakarta Selatan"),
("DKI Jakarta",2843816,"Jakarta Timur"),
("DKI Jakarta",914182,"Jakarta Pusat"),
("DKI Jakarta",2463560,"Jakarta Barat"),
("DKI Jakarta",1747315,"Jakarta Utara")], ["province", "pop","district"])

Tampilkan hasilnya dengan perintah `show`

In [ ]:
dataDF.show()

+-----------+-------+----------------+
|   province|    pop|        district|
+-----------+-------+----------------+
|     Banten|1222258|           Lebak|
|     Banten|1175148|      Pandeglang|
|     Banten|1435003|          Serang|
|     Banten|2619803|       Tangerang|
|DKI Jakarta|  23340|Kepulauan Seribu|
|DKI Jakarta|2185711| Jakarta Selatan|
|DKI Jakarta|2843816|   Jakarta Timur|
|DKI Jakarta| 914182|   Jakarta Pusat|
|DKI Jakarta|2463560|   Jakarta Barat|
|DKI Jakarta|1747315|   Jakarta Utara|
+-----------+-------+----------------+

### Filter data RDD

Untuk melakukan filtering RDD, kita menggunakan fungsi transformasi `filter`, dengan parameter berupa ekspresi `lambda`.

RDD tidak memiliki skema, sehingga kita mengakses baris dan kolom dengan menggunakan indeks.

Perhatikan bahwa perintah-perintah ini tidak langsung dijalankan oleh Spark, meskipun kita meng-execute cell yang bersangkutan.

In [ ]:
rddf = dataRDD.filter(lambda x: x[0] == 'Banten')

Untuk menampilkan hasilnya, gunakan perintah `collect()`. Perintah ini akan men-trigger eksekusi Spark.

In [ ]:
rddf.collect()

[('Banten', 1222258, 'Lebak'),
 ('Banten', 1175148, 'Pandeglang'),
 ('Banten', 1435003, 'Serang'),
 ('Banten', 2619803, 'Tangerang')]

### Filtering DataFrame

Untuk melakukan filtering, digunakan fungsi `filter`. 

Karena DataFrame memiliki skema, maka kita dapat menggunakan nama kolom untuk melakukan filtering

In [ ]:
dff = dataDF.filter(dataDF['province'] == 'Banten')

Tampilkan hasilnya dengan perintah `show`

In [ ]:
dff.show()

+--------+-------+----------+
|province|    pop|  district|
+--------+-------+----------+
|  Banten|1222258|     Lebak|
|  Banten|1175148|Pandeglang|
|  Banten|1435003|    Serang|
|  Banten|2619803| Tangerang|
+--------+-------+----------+

## Group by dan Agregasi

### RDD

Untuk melakukan group by dan agregasi pada RDD, kita menggunakan fungsi transformasi `map` dan `reduceByKey`, dengan mengirimkan fungsi `lambda` sebagai parameter operasinya.

- `map` menerapkan ekspresi `lambda` pada **setiap element x** RDD 
- `reduceByKey` melakukan operasi agregasi berdasar key tertentu sesuai ekspresi `lambda`

In [ ]:
# map 1       : tambahkan integer 1 di tiap row untuk melakukan count
# reduceByKey : jumlahkan (sum) kolom populasi dan count
# map 2       : hitung rata-rata dengan operasi : sum(populasi)/count

popRDD = (dataRDD  \
           .map(lambda x: (x[0], (x[1], 1)))  \
           .reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))  \
           .map(lambda x: (x[0], x[1][0]/x[1][1])))

Tampilkan hasilnya

In [ ]:
popRDD.collect()

[('DKI Jakarta', 1696320.6666666667), ('Banten', 1613053.0)]

### DataFrame

Groupby dan agregat dengan menggunakan fungsi `groupBy` dan `agg`.

In [ ]:
# Group by province name and average population 
avgDF = dataDF.groupBy("province").agg(avg("pop"))

Tampilkan hasilnya

In [ ]:
# Show the results
avgDF.show()

+-----------+------------------+
|   province|          avg(pop)|
+-----------+------------------+
|DKI Jakarta|1696320.6666666667|
|     Banten|         1613053.0|
+-----------+------------------+

In [ ]:
#spark.sql("SET -v").select("key", "value").show(n=200, truncate=False)

In [ ]:
 #spark.conf.get("spark.sql.shuffle.partitions")

In [ ]:
 #spark.conf.set("spark.sql.shuffle.partitions", 5)

In [ ]:
#spark.conf.get("spark.default.parallelism")

##

Update history

2301.1729
* _Add filtering_
* _Code cleanup_
* _Add comments & explanations_